@import "tailwindcss";

@theme {
  --color-principale: #9034b0;
  --color-secondaire: #096cfd;
  --color-background: #1d1d1d;
  --color-text: #ffffff;
  --color-text-secondaire: #a0a1a6;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #1d1d1d;
}
